{% extends 'main/layout.html' %}
{% load static %}
{% load dict_filter %}

{% block title %}Новости{% endblock %}

{% block content %}
<div id="main-news">
  <p id="news-top">Новости</p>
  <form method="post" class="add_news">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="published_news">Опубликовать новость</button>
    <button type="submit" name="draft_news">Сохранить в черновики</button>
    <button onclick="window.location.href = `{% url 'news:draft' %}`">Просмотреть черновики</button>
  </form>
  <div id="news-blocks">
    {% for post in posts %}
    <div class="news">
      {% if post.author.profile.photo %}
        <a href="{% url 'user' post.author.id %}" class="friend-profile-view">
          <img src="{{ post.author.profile.photo.url }}" alt="{{ post.author.username }}" class="profile-photo"> 
        </a>
      {% else %}
        <a href="{% url 'user' post.author.id %}" class="friend-profile-view">
          <img src="{% static 'main/img/noPhoto.png' %}" alt="noPhoto" class="profile-photo">
        </a>
      {% endif %}
      {% if post.author.first_name %}
        <a href="{% url 'user' post.author.id %}" class="friend-profile-view"> {{ post.author.first_name }} {{ post.author.last_name }}</a>
      {% else %}
        <a href="{% url 'user' post.author.id %}" class="friend-profile-view">{{ post.author }}</a>
      {% endif %}
      <div id="news-title"><h3>{{ post.title }}</h3></div>
      <div id="news-body">{{ post.body|truncatewords:30|linebreaks }}
      <a href="{% url 'news:post_detail' post.id %}"> Читать полностью </a>
      </div><br>
      {% with post_id=post.id %}
        {% if not like_status|dict:post_id %}
          <p><a href="{% url 'news:like_post' post.id %}" id="likes">🤍 {{ post.like_count }}</a></p>
        {% else %}
          <p><a href="{% url 'news:like_post' post.id %}" id="likes">❤️ {{ post.like_count }}</a></p>
        {% endif %}
      {% endwith %}
      <div id="published-news"><i>Опубликовано {{ post.publish }}</i></div>
    </div><br>
    {% endfor %}
  </div>
  {% include "pagination.html" with page=posts %}
</div>
{% endblock %}
