{% extends 'main/layout.html' %}


{% block title %}Вход{% endblock %}
{% block logo_touch %}{%endblock%}
{% block foto %}{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<form method="post" id="login-form">
  {% csrf_token %}
  <fieldset>
    <p id="entry_p">Вход</p>
    {{ form.as_p }}
    <p id="error"></p>
  </fieldset>
  <button type="submit" id="entry_button">Войти</button><br><br>
  <a href="{% url 'password_reset' %}">Забыли пароль?</a><br><br>
  <a href="{% url 'register' %}">Зарегистрироваться</a>
</form>
{% endblock %}