{% extends 'main/layout.html' %}

{% block title %}Сброс пароля{% endblock %}
{% block logo_touch %}{%endblock%}
{% block foto %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
<div id="not-nav">
  <h1>Забыли свой пароль?</h1>
  <p>Введите свой адрес электронной почты, для сброса пароля.</p>
  <form method="post" id="password-reset">
    {{ form.as_p }}
    <br><br><p><input type="submit" value="Отправить" id="edit-btn"></p>
    {% csrf_token %}
  </form>
</div>
{% endblock %}