{% extends 'main/layout.html' %}

{% block title %}Сброс пароля{% endblock %}
{% block logo_touch %}{%endblock%}
{% block foto %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
<div id="not-nav">
  <h1>Сброс пароля</h1><br><br>
  <h3>Инструкции для сброса пароля отправлены на вашу электронную почту.</h3>
  <h4><i id="info">Если вы не получили электронное письмо, пожалуйста, убедитесь, 
    что вы ввели адрес, который использовали для регистрации.</i></h4>
</div>
{% endblock %}