{% extends 'main/layout.html' %}

{% block title %}Сброс пароля{% endblock %}
{% block logo_touch %}{%endblock%}
{% block foto %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
{% if validlink %}
<div id="not-nav">
  <form method="post" id="password-reset">
      <p id="reg_p">Сброс пароля</p>
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Сменить пароль" id="reg_button"/></p>
  </form>
</div>
  {% else %}
    <p>Ссылка для сброса пароля была неверной, возможно, потому, что она уже
      использовалась. Пожалуйста, запросите новый сброс пароля.</p>
  {% endif %}
{% endblock %}